{
	"printWidth": 120,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"jsxSingleQuote": false,
	"trailingComma": "none",
	"bracketSpacing": true,
	"objectWrap": "preserve",
	"bracketSameLine": false,
	"experimentalTernaries": false,
	"arrowParens": "avoid"
}